<mat-toolbar class="navbar" color="primary">
  <div class="navbar-content">
    <button mat-button color="default" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Strona główna</button>



    <button mat-button color="default" *ngIf="loggedUserName">Tylko dla zalogowanych</button>

    <div class="fill-remaining-space"></div>

    <span class="logged-username"> {{ loggedUserName }} </span>
    <button class="icon to-right" mat-icon-button matTooltip="Zaloguj" matTooltipPosition="below" (click)="onLoginClicked()" *ngIf="!loggedUserName">
      <mat-icon aria-label="Log in">play_for_work</mat-icon>
    </button>
    <button class="icon to-right" mat-icon-button matTooltip="Wyloguj" matTooltipPosition="below" (click)="onLogoutClicked()" *ngIf="loggedUserName">
      <mat-icon aria-label="Log out">exit_to_app</mat-icon>
    </button>
  </div>
</mat-toolbar>
