.navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  z-index: 1;

  .navbar-content {
    display: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .mat-button {
    height: 40px;
  }

  .active {
    background-color: rgba(0, 0, 0, 0.15);
  }

  .logged-username {
    font-size: 17px;
    margin: auto;
  }
}

.to-right {
  float: right;
}

@media screen and (min-width: 993px) {
  .navbar {
    .navbar-content {
      width: 990px;
    }
  }
}