<div class='header'>
  <table>
    <tr>
      <td> <h1>{{submitedIdeas}}</h1> </td>
      <td class="to_right">
        <button type="submit" routerLinkActive="active" routerLink="/creation">{{addNew}}</button>
      </td>
    </tr>
  </table>
</div>
<div class='overview_list'>
  <mat-nav-list>
    <!-- TODO: zamiana linku w routerLink na ten do konkretnego pomyslu: stawiam na jakis idea/id (do dogadania) zalezne od id konkretnego z ideas-->
    <mat-list-item *ngFor="let idea of ideas" routerLinkActive="active" routerLink="/idea/{{idea.id}}">
        <h3 class='name' matLine>{{idea.name}}</h3>
        <table class='secondaryInfo'  matLine>
          <tr>
            <td colspan="2">{{added}}{{idea.additionDate | date : 'dd.MM.yy, HH:mm' }} </td>
          </tr>
          <tr>
            <td colspan="1">{{keywordsLab}}</td>
            <td *ngFor="let keyword of idea.keywords">{{keyword}}</td>
          </tr>
        </table>
        <mat-divider></mat-divider>
    </mat-list-item>
  </mat-nav-list>
</div>
  <div *ngIf = "paging.pages && paging.pages.length" class="pagination">
    <a [ngClass] = "{disabled:paging.currentPage === 1,'dis':paging.currentPage === 1}" (click)="getIdeasPage(0,ideasPerPage)">{{firstPage}}</a>
    <a *ngFor="let page of paging.pages" [ngClass]="{active:paging.currentPage === page}" (click)="getIdeasPage(page-1,ideasPerPage)">{{page}}</a>
    <a [ngClass]="{disabled:paging.currentPage === paging.totalPages,'dis':paging.currentPage === paging.totalPages}" (click)="getIdeasPage(paging.totalPages-1,ideasPerPage)">{{lastPage}}</a>
  </div>
