
  .ratingContainer > * {
    width: 100%;
  }

  
  .opiniaField > * {
    width: 100%;
  }

    
  .ocenaField > * {
    width: 100%;
  }

  .opiniatextarea > *{
      height: 200px;
  }


  button {
    background-color: #3f51b5;
    border: 1px solid #36459a;
    color: white;
    border-radius: 4px;
    padding: 8px 24px;
    text-align: center;
    font-size: 14px;
    margin: 10px 10px;
  }